/* Пример бекграунд имейдж */
/* .features-list__card::before {
  display: block;
  content: "";
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.icon-antenna::before {
  background-image: url(../images/features/antenna\ 1.svg);
  background-size: 70px;
}
 */

.features {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and(min-width:1200px) {
    padding-top: 94px;
  }
}

.features-list {
  @extend %ul;

  @media screen and(min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * 30px);
    margin-left: calc(-1 * 30px);
  }
  @media screen and(min-width:1200px) {
    flex-wrap: nowrap;
  }
}

.features-list__card {
  @media screen and(max-width: 767px) {
    margin-bottom: 30px;
  }

  @media screen and(min-width:768px) {
    flex-basis: calc((100% - 60px) / 2);
    margin-top: 30px;
    margin-left: 30px;
  }

  @media screen and(min-width:1200px) {
    width: calc((100% - 120px) / 4);
  }
}

.features-list {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
    border-radius: 4px;
  }
}

.features-list {
  &__desc {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: $grey;
    text-align: left;
  }
}
.features-list {
  &__title {
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }
  @media screen and(max-width: 767px) {
    text-align: center;
  }
}
