.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $background-color;

  &__container {
    display: flex;
    align-items: center;

    @media screen and(max-width: 767px) {
      flex-direction: column;
      text-align: center;
    }

    @media screen and(min-width: 768px) {
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: space-around;
    }

    @media screen and(min-width: 1200px) {
      flex-wrap: nowrap;
      align-items: baseline;
      justify-content: space-between;
    }
  }
}

.address {
  @media screen and(min-width: 768px) {
    // margin-left: 76px;
    text-align: center;
  }
  @media screen and(min-width: 1200px) {
    margin-left: 0;
  }
}

.address-list {
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.address-list {
  &__city {
    margin: 0;

    color: $white;
  }
}
.address-list {
  &__link {
    display: block;
    margin-top: 8px;
    margin-bottom: 0;
    color: $footer-mail-number;
    text-decoration: none;

    @media screen and(min-width: 1200px) {
      margin-top: 9px;
    }
  }
}

.social {
  @media screen and(max-width: 767px) {
    margin-top: 60px;
  }
  @media screen and(min-width: 768px) and(max-width: 1199px) {
    // margin-left: 165px;
    text-align: center;
    // margin-bottom: 42px;
  }
  @media screen and(min-width: 1200px) {
    // margin-left: 70px;
    margin-bottom: 0;
  }
}

.social {
  &__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.7;
    color: $white;
  }
}

.social {
  &__list {
    @extend %ul;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.social {
  &__item {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.social {
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    color: $white;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    @include animated(background-color);

    &:hover,
    &:focus {
      background-color: $blue;
    }
  }
}

.social {
  &__icon {
    fill: currentColor;
  }
}

.news {
  margin-top: 60px;

  @media screen and(min-width: 768px) and(max-width: 1199px) {
    // margin-left: 166px;
    text-align: center;
  }
  @media screen and(min-width: 1200px) {
    // margin-left: 93px;
    margin-top: 0;
  }
}

.news {
  &__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.7;
    color: $white;
  }
}

.footer-form {
  &__mail::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }
}

.footer-form {
  &__mail {
    margin: 0;

    padding: 0;
    padding: 15px 16px;
    width: 100%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: transparent;

    &:focus {
      color: rgba(255, 255, 255, 0.6);
      border: 1px solid rgba(255, 255, 255, 0.3);
      background-color: transparent;
    }
    @media screen and(max-width: 1199px) {
      margin-bottom: 20px;
    }
    @media screen and(min-width: 1200px) {
      width: 358px;
    }
  }
}
