.hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  // width: 480px;
  height: 400px;
  // padding-top: 200px;
  // padding-bottom: 200px;
  // max-width: 1600px;
  // height: 600px;
  text-align: center;
  color: $white;
  background-color: $background-color;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero/mobile-hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/hero/@2xmobile-hero.jpg');
    background-color: $background-color;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/hero/tablet-hero.jpg');
    background-color: $background-color;
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/hero/@2xtablet-hero.jpg');
    background-color: $background-color;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/hero/desktop-hero.jpg');
    background-color: $background-color;
    height: 600px;
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/hero/@2xdesktop-hero.jpg');
    background-color: $background-color;
  }
}

.hero {
  &__title {
    margin-top: 0px;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white;

    @media screen and(min-width: 1200px) {
      font-size: 44px;
      line-height: 1.4;
    }
  }
}
