.page-header {
  position: relative;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
.menu-button .close-menu {
  display: none;
}
.menu-button.is-open .close-menu {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}
.menu-button {
  &:hover,
  &:focus {
    color: $blue;
  }
}
.mobile-icon {
  &:hover,
  &:focus {
    fill: currentColor;
  }
}

.menu-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 480px;
  height: 796px;
  padding: 48px 40px;
  text-align: center;
  background-color: yellow;
  &.is-open {
    display: block;
  }
}
