

/* .backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
} */

/* .backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
} */



.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  @include animated(opacity, visibility);
 
}

.backdrop{
  &__is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;}
}
// .backdrop__is-hidden .modal {
//   transform: translate(-50%, -50%) scale(0.9);}

  .backdrop{
    &__is-hidden {
    .modal {
  transform: translate(-50%, -50%) scale(0.9);}}
    }



.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: $white;
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  @include animated(transform);
  
}
.modal{
    &__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: inherit;
  cursor: pointer;
  @include animated(color);
  

&:hover,
&:focus {
  color: $blue;}}
}

.modal{
    &__icon {
  fill: currentColor;}
}