
.page-header {
  &__container {
    display: flex;
    align-items: center;
  }
}

.page-header {
  &--border {
    border-bottom: 1px solid #ececec;
  }
}

.page-header {
  &__navigation {
    display: flex;
    align-items: center;
  }
}
