.page-header {
  &__container {
    @media screen and(max-width:767px) {
      display: flex;
      justify-content: space-between;
    }
    display: flex;
    align-items: center;
  }
}

.page-header {
  &--border {
    border-bottom: 1px solid #ececec;
  }
}

.page-header {
  &__navigation {
    display: flex;
    align-items: center;
  }
}
