

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.projects-list {
  @extend %ul;
  display: flex;
  flex-wrap: wrap;
  margin-top: 34px;

  & :nth-child(3n) {
  margin-right: 0;
}
& :nth-last-child(-n + 3) {
  margin-bottom: 0;
}
}

.projects-list{
    &__card {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: $white;}
  
}

.projects-list{
    &__title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $main-color;}
}
.projects-list{
    &__descrip {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: $grey;}
}
.projects-list{
    &__wrapper {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;}
}

.projects-list{
    &__link {
  display: block;
  text-decoration: none;
  @include animated(box-shadow);
  

&:hover,&:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);}
}
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay{
    &__text {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55;
  text-align: left;
  color: $white;}
}

.overlay{
    &__box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  opacity: 0;
  @include animated(transform);
  }

    .projects-list__card:hover &__box {
   transform: translatey(0);
  opacity: 1;}
}




