

.services {
  padding-bottom: 94px;
  padding-top: 94px;
}
.services{
    &__title,
 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 36px;
  line-height: 0.7;
  text-align: center;}
}

.services-list {
  @extend %ul;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;

  & :nth-child(3) {
  margin-right: 0px;
}
}

.services-list{
    &__card {
  width: calc((100% - 60px) / 3);
  margin-right: $list-gap;
  position: relative;}
}
.services-list{
    &__link {
  display: block;
  text-decoration: none;}
}


.services-list{
    &__title {
  margin: 0;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: $white;
}
}

.services-list{
    &__overlay {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 370px;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);}
}