.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $background-color;

  &__container {
    display: flex;
    align-items: baseline;
  }
}

.address-list {
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.address-list {
  &__city {
    margin: 0;

    color: $white;
  }
}
.address-list {
  &__link {
    display: block;
    margin-top: 9px;
    margin-bottom: 0;
    color: $footer-mail-number;
    text-decoration: none;
  }
}

.social {
  margin-left: 70px;
}

.social {
  &__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: $white;
  }
}

.social {
  &__list {
    @extend %ul;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.social {
  &__item {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.social {
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    color: $white;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    @include animated(background-color);

    &:hover,
    &:focus {
      background-color: $blue;
    }
  }
}

.social {
  &__icon {
    fill: currentColor;
  }
}

.news {
  margin-left: 93px;
}

.news {
  &__title {
    margin-top: 0px;
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: $white;
  }
}

.footer-form {
  &__mail::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }
}

.footer-form {
  &__mail {
    margin: 0;
    padding: 0;
    padding: 15px 16px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: transparent;

    &:focus {
      color: rgba(255, 255, 255, 0.6);
      border: 1px solid rgba(255, 255, 255, 0.3);
      background-color: transparent;
    }
  }
}
